:root {
  --blue: #1e90ff;
  --secondary: #e7d3d3 ;
  --primary: #451e3e;
  --zap: #251e3e;
  --banco: #dec3c3 ;
  --teste: #FFFF00;
  --verdeZapeado: #00FF00;
  --verdeZaps: #23912a;
  --verdeZaps1: #23912a;
  --verdeZaps12: #23912a;
}9

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--secondary);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
